*~
*.dSYM
.DS_Store
*-debug
*-s
*-l
hisat2.xcodeproj/project.xcworkspace
hisat2.xcodeproj/xcuserdata
hisat2.xcodeproj/xcshareddata

build_automaton
build_index
clean_alignment
determinize
gcsa_alignment
gcsa_test

hisat2_test/*.bt2
hisat2_test/*.ht2
hisat2_test/*.sam
hisat2_test/paper_example.malignment.automaton
hisat2_test/paper_example.malignment.backbone
hisat2_test/paper_example.malignment.gcsa
hisat2_test/kim_example*.malignment.automaton
hisat2_test/kim_example*.malignment.backbone
hisat2_test/kim_example*.malignment.gcsa
hisat2_test/genome*
hisat2_test/2*
hisat2_test/snp142*
hisat2_test/testset*