*~
*.dSYM
.DS_Store
*-debug
*-s
*-l
hisat.xcodeproj/project.xcworkspace
hisat.xcodeproj/xcuserdata

build_automaton
build_index
clean_alignment
determinize
gcsa_alignment
gcsa_test

siren/gcsa_util/test

hisat2_test/paper_example.malignment.automaton