// typography.
$font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-size: 16px;

// source code typography.
$code-font-family: "Courier New", Courier, monospace, fixed;
$code-font-size: 0.9em;

// vertical margin.
$margin: 50px;

// brand color.
$brand-color: #003c6e;

// other major colors.
$site-title-color: rgba(#fff, .9);
$page-title-color: $brand-color;
$background-color: #fff;
$border-color: rgba(#000, .25);

// typography colors.
$text-color: #383838;
$link-color: lighten($brand-color, 15%);
$blockquote-color: #777;
